.background-image
{
  background-image: url(assets/background_image.jpg);
  background-position: center;
  background-size: auto;
  width: 40vw;
}

.content {
  width: 100vw;
  height: 100vh;
}

.content,
.logo{
  display: flex;
  flex-flow: row wrap;
}

.logo 
{
  height: auto;
  background-color: rgba(69,69,69,0.2); /*the 0.2 is the value for alpha channel, where it controls transaparency
  0 being full transparent and 1 being full opague*/
  padding: 15px 0; 
  position: relative;
  top: 10vh;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.eagle
{
  height:15vh;
}

/* right side */

.right{
  width: 60vw;
  /* background-color: #000000; */
  display: flex;
  flex-flow: column nowrap; 
  justify-content: center;
}

.left{
  padding-left: 3vw;
}

.warning{
  font-weight: 500;
  width: 90%;
  font-size: 1.2rem;
}

.text2{
  margin: 40px 0 80px;
}